:root {
  --primery-text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #2196f3;
  --primery-text-color-bg: #2f303a;
}
/* основний колір тексту   color: #757575;  */
/*другорядний колір тексту color: #212121; */
/*акцент  #2196F3; */
/*білий колір color: #FFFFFF; */
/*чоний колір #000000; */

body {
  background: var(--primery-text-color-bg);
  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}

.logo > span {
  color: var(--accent-color);
}
/*Навігація*/
.header {
  background: var(--white-color);
}
.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/*Контакти*/
.contacts-list .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}
/*Герой*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white-color);
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: #188ce8;
}
/*Переваги*/
.section {
  background: #e5e5e5;
}
.preference .preference-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
}
.preference .preference-text {
  font-size: 14px;
  line-height: 1.71;
}
/*Чем мы занимаемся*/
.section-title {
  font-size: 36px;
  line-height: 1.67;
  color: var(--black-color);
}
/*Наша команда*/
.section-team {
  background: var(--white-color);
}
.section-list .title-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--black-color);
}
.section-list .title-text {
  font-size: 16px;
  line-height: 1.19px;
}
/*Футер*/
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-color);
}
.contacts .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
.portfolio {
  background: #e5e5e5;
}
.portfolio-bg {
  background: var(--primery-text-color-bg);
}
.button-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
}

.button-list .button:hover,
.button-list .button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
.img-list .link {
  text-decoration: none;
}

.img-list .title {
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.img-list .text {
  font-size: 16px;
  line-height: 1.86;
  color: var(--primery-text-color);
}
