/* основний колір тексту   color: #757575;  */
/*другорядний колір тексту color: #212121; */
/*акцент  #2196F3;  */
/*білий колір color: #FFFFFF; */


body{
    background: #2F303A;
    color: #757575;
}
.logo{
    color:#2196F3 ;
}